<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dht.notes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".testcode.nestedscrollview.NestedActivity">
            <!--android:taskAffinity="com.dht.notes.task01"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="com.dht.notes.testcode.ontouch.TestActivity"-->
<!--            android:launchMode="singleTask" />-->
        <!--android:taskAffinity="com.dht.notes.task02"-->
        <activity android:name="com.dht.notes.testcode.ontouch.recycler.RecycleActivity" />
        <activity android:name=".testcode.ontouch.activity.AActivity" />
        <activity android:name=".testcode.ontouch.activity.BActivity"
            android:launchMode="singleTop"/>
        <!--android:launchMode="singleTop" android:process="com.dht.notes.b"-->
        <activity android:name=".testcode.ontouch.activity.CActivity"
            android:launchMode="singleInstance" />
        <!--android:launchMode="singleInstance"-->
        <activity android:name=".testcode.ontouch.activity.DActivity"
            android:launchMode="singleTask" android:taskAffinity="com.dht.notes.d"/>
        <activity android:name=".testcode.ontouch.bitmap.BitmapActivity" />
<!--        <activity android:name=".testcode.nestedscrollview.NestedActivity" />-->
        <!--        <activity android:name=".testcode.thread.ThreadPoolExecutorTestActivity" />-->
        <!--android:launchMode="singleTask"-->
        <!--android:taskAffinity="com.dht.notes.d"-->
        <service android:name=".testcode.service.MyService" />
    </application>


</manifest>