<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dht.notes">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.Sys" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:overrideLibrary="com.thanosfisherman.wifiutils">
        <activity android:name=".MainActivity">
            <!--android:taskAffinity="com.dht.notes.task01"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <activity-->
        <!--            android:name="com.dht.notes.testcode.other.ontouch.TestActivity"-->
        <!--            android:launchMode="singleTask" />-->
        <!--android:taskAffinity="com.dht.notes.task02"-->

        <!--        <provider-->
        <!--            android:name="com.customtracker.dataanalytics.db.EventProvider"-->
        <!--            android:authorities="${applicationId}.com.customtracker.dataanalytics"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false" />-->

        <activity android:name=".code.view.FlowActivity" />
        <activity android:name=".code.lock.ThreadLockActivity" />
        <!--        <activity android:name=".testcode.ontouch.TestActivity" />-->
        <!--        <activity android:name=".testcode.nestedscrollview.NestedActivity" />-->
        <!--        <activity android:name=".testcode.thread.ThreadPoolExecutorTestActivity" />-->
        <!--android:launchMode="singleTask"-->
        <!--android:taskAffinity="com.dht.notes.d"-->
        <service
            android:name=".code.service.MyService"
            android:process=":work" />

        <activity
            android:name=".code.activity.AActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".code.activity.BActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.dht.notes.dfasf" />

        <activity
            android:name=".code.activity.CActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".code.activity.DActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".code.animation.AnimationActivity" />
        <activity android:name=".code.service.ServiceActivity" />
        <activity android:name=".code.provider.ProviderActivity" />
        <activity android:name=".code.fragment.FragmentActivity" />
        <activity android:name=".code.animation.ScrollActivity" />
        <activity android:name=".code.coordlayout.CoorActivity" />
        <activity android:name=".code.telephony.TelephonyActivity" />
        <activity android:name=".code.floatingwindow.FloatingWindowActivity" />
        <activity android:name=".code.animation.WifiWaveActivity" />
        <activity android:name=".code.homekey.HomekeyAActivity" />
        <activity
            android:name=".code.homekey.HomekeyBActivity"
            android:process=":work" />
        <activity android:name=".code.toast.ToastActivity" />
        <activity android:name=".code.shake.ShakeActivity" />
        <activity android:name=".code.view.TestViewActivity" />
        <!--            android:taskAffinity="com.dht.notes.dfasf"-->

        <provider
            android:name=".code.provider.MyProvider"
            android:authorities="com.dht.notes.code.provider">

        </provider>


    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.CONTROL_LOCATION_UPDATES"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


</manifest>